// TOKEN //

PORT=numero_port

# Webex CC
WEBEX_WEBHOOK_SECRET=webhook_webexCC

# Agent test
AGENT_ID_TEST=agent_id
# Service B
URL_SERVICE_B=mettre_bonne_url
URL_API_B=api_test
EMAIL_AGENT_TEST=mon_mail_sacha
PASSWORD_AGENT_TEST=mot_de_passe

HTTPS_PROXY=proxy_associé
HTTP_PROXY=proxy_associé

APIKEY_ADMIN_B=admin_b
URL_SERVICE_B_WS=url_service_b